.cardContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--trans-white-50);
    border-radius: 14px;
    padding: 20px;
    box-shadow: 0 2px 4px var(--shadow-medium);
    width: 100%;
    max-width: 400px;
    min-width: 400px;
    height: fit-content;
}
