:root {
    --primary-blue: rgb(55, 115, 245);
    --neutral-gray: rgb(80,80,80);
    --gap: 0.25rem;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    color: var(--neutral-gray);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Mulish', sans-serif;
    color: var(--primary-blue);
}

body {
    background: rgb(237, 237, 248);
}

button {
    color: var(--neutral-gray);
}

a {
    color: var(--neutral-gray);
    text-decoration: none;
}

a:hover, a:focus {
    color: var(--primary-blue);
    text-decoration: none;
}
